@model MyPersonalPage.Models.Comment

@{
    ViewBag.Title = "Edit Comment";
}

@using (Html.BeginForm(null,null,FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">

                <h2>@Html.DisplayFor(model => Model.Post.Title)</h2>

                    @Html.TextAreaFor(model => Model.Body, new { @class = "form-control", rows = "5", id = "editor" })
                    @Html.ValidationMessageFor(model => Model.Body, "", new { @class = "text-danger" })

                <h4>Reason for this update?: </h4> 
                @Html.TextAreaFor(model => Model.UpdatedReason, new { @class = "form-control", rows = "1", id = "editor" })
                @*<input type="text" name="UpdatedReason" size="90" value="@Model.UpdatedReason" />*@

                <input type="hidden" name="postId" value="@Model.PostId" />
                <input type="hidden" name="created" value="@Model.Created" />
                <input type="hidden" name="authorId" value="@Model.AuthorId" />

            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
            </div>
        </div>
 
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#editor').tinymce({});
        });
    </script>*@
}
